<%
  const senateData = require("../data/senate.json");

  const state = "CA";
  let sections = ["key-races", "president", "house"];

  if (senateData.results.filter(d => d.state === state).length > 0) {
    sections.push("senate");
  }
%>

<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="state.css">
  </head>
  <body>
    <%= t.include("partials/_statePageHeader.html", {state: state, sections: sections}) %>
    <main class="app constrained">
      <section id="key-races-section" class="shown">
        <results-collection state="<%= state %>" type="president"></results-collection>
        <results-collection state="<%= state %>" type="senate"></results-collection>
        <results-collection state="<%= state %>" type="house" key-races-only></results-collection>
      </section>
      <section id="house-section">
        <results-collection state="<%= state %>" type="house"></results-collection>
      </section>
      <section id="senate-section">
        <results-collection state="<%= state %>" type="senate"></results-collection>
      </section>
      <section id="president-section">
        <results-collection state="<%= state %>" type="president"></results-collection>
      </section>
      <section id="county-section">
        <county-map state="CA"></county-map>
        <county-dataviz state="CA"></county-dataviz>
        <results-table-county
        state="<%= state %>"
        race-id="0"
        order="1"></results-table-county>
      </section>
    </main>
    <script>
      window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>
    <script src="state.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
