<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="race-embed.css">
    <base target="_blank" />
  </head>
  <body class="embedded">
    <main class="app constrained">
      <div class="embed"></div>
      <p class="source-footnote">
        <strong>Notes:</strong>
        <%= t.smarty(grunt.data.json.strings.eevp_footnote) %>
      </p>
    </main>

    <script>
        window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>

    <script src="raceEmbed.js" async></script>
    <script type="text/javascript">
      ads = document.querySelectorAll('.remove-embedded')
        ads.forEach(element => {
          element.remove()
        });
    </script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
